[Unit]
Description=Aptos Node
Wants=network.target
After=network-online.target

[Service]
# todo, User is only required if running as root, otherwise it's actively harmful

WorkingDirectory={{ node_data_path }}
ExecStart={{ aptos_core_path }}/target/release/aptos-node -f {{ node_data_path }}/config.yaml

Restart={{ restart }}
RestartSec={{ restart_sec }}

LimitNOFILE=65535

{# Callers of this role may set additional kvs in the Service section by using this block #}
{% block service_block %}
{% endblock %}

[Install]
WantedBy=multi-user.target
